<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Chat with Hodor</title>
	<link rel="stylesheet" href="css/style.css">
	<script src="js/jquery-1.10.2.min.js"></script>
	<script src="js/chat.js"></script>
	<script src="js/conex.js"></script>
</head>
<body class="darkBack">
	<header id="header" class="head">
		<hgroup>

			<figure>
				<img src="img/hodor.png" class="img-head">
				
			</figure>
			<h1>Chat With Hodor</h1>

			<h2>Hodor Hodor huh!</h2>
			
		</hgroup>
	</header>
	<section id="container" class="content">

		<section id="user_name" class="absolute_center"> 
			<div class=" user_name">
				<label class="name">
					Your Name:
					<input type="text" id="names" placeholder="Hodor">
				</label>
				<label>
					<input type="button" class="hodor-send" value="Enter">
				</label>
			</div>
		</section>

		<section id="wrap-chat" class="wrap-chat">

			<div class="prin-chat">
				<span class="hided">Send something to start the chat</span>

			</div>
		</section>

			<span class="hided2">Hodor is typing...</span>

		<section id="wrap-send" class ="wrap-send">
			<div class="second-chat" >
				<textarea name="inserted-text" class="second-text"></textarea>
					<a id="hodor-send" >Hodor!</a>
			</div>			
		</section>

	</section>

<footer >
	<div class="center-text">
			<span>Designed by: <a href="https://github.com/Maat5" >Manuel Abrante</a></span>
	<br>
	<span>Email:  <a href="mailto:racerf5@gmail.com?subject=feedback">Contact Me</a></span>
	</div>

</footer>
</body>
</html>