body{
	width: auto; 
	font-family:  serif;
	margin: 0 auto;
	background-color: rgb(236,240,241);
}

.head{
	padding: 1%;
	margin: 0 auto;	
	background-color: rgb(52,152,219);
	box-shadow: 0px 4px 5px rgb(44,62,80);
}

.img-head{
	float: left;
	position: relative;
	top: -15px;
	width: 60px;
}

hgroup{
	position: relative;
	margin-left: 10px;
	display: inline-block;
	text-align: left;
	padding: 0px;
	line-height: 0.5;
	width: 80%;
	color: rgb(44,62,80);
}


.content{
	margin:  2% auto;
}

.wrap-chat{
	position: relative;
	padding: 1%;
	border: 2px solid rgb(44,62,80);
	width: 80%;
	height: 300px;
	margin:  2% auto;
	border-radius: 10px;
	background-color: white;
	overflow: auto;
	display: none;
}
.wrap-send{
	width: 65%;
	height: 50px;
	display: none;
	margin-left:8.5%;
	margin-top: 0;
}
.prin-text{
	border-radius: 5px;
	width: 100%;
	padding: 1%;
	line-height: 0.5px;
}
.prin-chat{
	
}
.second-text{
	margin: 1% auto;
	width: 100%;
	resize :none;
	border-radius: 10px;
	border: 2px solid rgb(44,62,80);
	padding: 1%;
	text-align: justify;
}

#hodor-send{
	position: relative;
	border: 1px solid rgb(41,128,185);
	background-color: rgb(41,128,185);
	color: white;
	padding: 1%;
	border-radius: 5px;
	box-shadow: 0.5px 4.3px 1px rgb(44,62,80);
	left: 110%;
	right: 50%;
	top: -55px;
}

.hodor-send{
	display: block;
	position: relative;
	border: 1px solid rgb(41,128,185);
	background-color: rgb(41,128,185);
	color: white;
	border-radius: 5px;
	width: 80px; 
	
	padding: 1%;
	box-shadow: 0.5px 4.3px 1px rgb(44,62,80);
	margin: 5% auto;
}

.name {
	display: block;
	margin: 1% auto;
	padding: 2%;
}

.name > input{
	border: 1px solid rgb(41,128,185);
	border-radius: 5px;
	text-align: center;
	height: 40px;
}

#hoder-send:hover{
	padding: 1%;
	background-color:rgb(44,62,80);
	
}

.darkBack{
	background: #848484;
	opacity:  0.8;
}

.absolute_center{	
	width: auto;
	display: block;
	margin-top: 10%;
	margin-left: 40%;
	margin-right: 40%;
	background-color: white;
	padding: 1%;
	border-radius: 10px;
}


.center-text{
	padding: 1%;
	margin: 0.5% auto;
}

.text-chat{
	line-height: 1%;
	width: auto;
	display: inline;
}

.hodd{color: rgb(231,76,60);}


.ali{
	position:  absolute;
	width: 100%;
	bottom: 0;
	padding-bottom: 1%;
	text-align: center;
	background-color: rgb(52,152,219);
	
}

footer{
	display: none;
	position:  relative;
	width: 100%;
	padding-bottom: 1%;
	text-align: center;
	margin-top: 50px;
	/*border:  1px solid black*/;
	background-color: rgb(52,152,219);
	
}

footer span{
	color: whitesmoke;
}

a{
	text-decoration: none;
	color: rgb(44,62,80);
}

.hided{

}

.hided2{
	position: relative;
	left: 10%;
	top: -15px;
	display: none;
}


@media (max-width:800px){
	footer{
		margin-top: 80px;
	}
	hgroup{
		width: 100%;
	}
	.img-head{
		clear: both;
		float: right;
		left: 0;
		margin-right: 0;
	}
	.absolute_center{
		margin-top: 40%;
		margin-left: 10%;
		margin-right: 10%;
	}
	.second-text{
		height: 80px;
	}
	#hodor-send{
		padding: 2%;
	}

}
@media (max-width:348px){
	.content{
		margin: 5% auto;
	}
	.second-text{
		
		
	}
	.img-head{
		display: none;
	}

}
